.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px;
}

.grid div {
  padding: 0.8rem;
  font-size: 0.9rem;
  cursor: pointer;
  text-align: center;
  border: 1px solid black;
}
