.grid_crtf {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  padding: 5px;
}

.grid_crtf div {
  padding: 0.8rem;
  font-size: 0.9rem;
  cursor: pointer;
  text-align: center;
}

.grid_crtf_item {
  border: 1.5px solid white;
}
