#calendar_wrap {
  width: 960px;
  height: 100vh;
}

#calendar_table {
  width: 960px;
  height: 600px;
  border: 1px solid #ddd;
}

th {
  text-align: center;
  border: 1px solid #ddd;
}

td {
  height: 200px;
  text-align: right;
  vertical-align: top;
  border: 1px solid #ddd;
}

td:hover {
  background-color: #ddd;
}

tr {
}

.calendar_header {
  text-align: center;
}
