/* 달력 */
.dateHead div {
  background: burlywood;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
}

.grid div {
  padding: 0.6rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.dateBoard div {
  color: #222;
  font-weight: bold;
  min-height: 6rem;
  padding: 0.6rem 0.8rem;
  border-radius: 5px;
  border: 1px solid #eee;
}

.noColor {
  background-color: #eee;
}

.item:hover {
  background-color: rgba(222, 184, 135, 0.3);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

/* 좌우 버튼 */
.btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 0;
  outline: none;
}

.prevDay {
  font-size: 1.2rem;
}

.nextDay {
  font-size: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: Pretendard;
}

.calendar_wrap {
  max-width: 960px;
  padding: 0 1.4rem;
  margin-top: 1.4rem;
}

.dateHead {
  margin: 0.4rem 0;
}
