#dcHead {
  position: sticky;
  top: 0;
  height: 60px;
  display: flex;
}

.scroll_header {
  background-color: hsla(0, 0%, 100%, 0.9);
  border-bottom: 1px solid #ddd;
  opacity: 60%;
}

#test {
  width: 26px;
  height: 26px;
}

#btn_sidebar_open {
  background-color: white;
  border: 0;

  width: 26px;
  height: 26px;
  margin-right: 14px;
}

#logo_home {
  width: 72px;
  height: 26px;
  text-decoration: none;
  color: burlywood;
  font-weight: 500;
  font-size: large;
}

#header_left {
  width: 100px;
  height: 24px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 9999;
}
