#dcHead {
  position: sticky;
  top: 0;
  height: 60px;
  display: flex;
}

.scroll_header {
  background-color: hsla(0, 0%, 100%, 0.9);
  border-bottom: 1px solid #ddd;
  opacity: 60%;
}

#test {
  font-size: 1.5rem;
}

#btn_sidebar_open {
  background-color: white;
  border: 0;
  width: 26px;
  height: 30px;
  margin-right: 14px;
}

#btn_sidebar_open {
    cursor: pointer;
}

#logo_home {
  width: 72px;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  color: burlywood;
  font-weight: 500;
  font-size: large;
}

#header_left {
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-left: 20px;
}

#header_right {
    width: 200px;
    height: 30px;
    display: flex;
    margin-left: auto;
    margin-top: auto;
    margin-right: 20px;
}
.btn_login {
    width: 66px;
    height: 30px;
    border: 1px solid #666;
    border-radius: 16px;
    background: none;
}

.btn_login:hover {
    cursor: pointer;
}