#dc_head {
  position: sticky;
  top: 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.scroll_header {
  background-color: hsla(0, 0%, 100%, 0.5);
  border-bottom: 1px solid #ddd;
  opacity: 0.9;
}

#icon_sidebar {
  font-size: 1.5rem;
}

#btn_sidebar_open {
  background-color: white;
  border: 0;
  width: 26px;
  height: 60px;
  margin-right: 14px;
}

#btn_sidebar_open {
  cursor: pointer;
}

#logo_home {
  width: 72px;
  text-decoration: none;
  color: burlywood;
  font-weight: 500;
  font-size: large;
}

#header_left {
  width: 200px;
  height: 60px;
  line-height: 60px;
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-left: 20px;
}

#header_center {
  width: 100px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

#header_right {
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-right: 20px;
}
