a {
  text-decoration: none;
  text-decoration-color: black;
}

ul {
  padding: 0;
}

#side_wrap {
  background-color: #fff;
  border-right: 1px solid #ddd;
  height: 100vh;
  margin-left: -261px;
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: center;
  top: 0;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  width: 260px;
  z-index: 10000;
}

#side_wrap.open {
  margin-left: 0px;
}

#side_main {
  width: 259px;
  height: 280px;
  border-bottom: 1px solid #ddd;
  background-color: #f6f6f6;
}

#side_cate {
  width: 100%;
  height: 450px;
  margin-top: 40px;
  overflow-y: auto;
}

#side_list {
  padding-left: 0;
}

.side_list_item {
  height: 40px;
  line-height: 40px;
}

.side_link {
  color: black;
  text-decoration: none;
}

#side_setting {
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

#side_close {
  position: absolute;
  right: -30px;
  top: 45%;
  z-index: 0;
}

#side_close.close {
  display: none;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

#btn_side_close {
  border: 0px;
  background: none;
}

.icn_close {
  font-size: 1.5rem;
}

.side_main_logo {
  width: 48px;
  height: 48px;
  margin: 40px auto 9px;
}

.side_main_nick {
}

.side_main_bottom {
  font-size: 13px;
}

.side_link {
}

.side_link:hover {
  color: burlywood;
}

.side_link_active {
  color: burlywood;
}

.side_link_active:hover {
  color: burlywood;
}

.side_setting_logout {
  margin-left: 10px;
}

#side_setting_logout {
  margin-left: 10px;
}
